{namespace ImportCSV}

/**
* This renders the component's whole content.
*/
{template .render}
	{@param? csvData: list<?>}
	{@param? errorMessage: string}
	<div class="import-csv-component">
		<label class="btn btn-primary" for="uploadFile">choose CSV file</label>
		<input
			data-onchange="_handleUploadFile"
			id="uploadFile"
			type="file" />

		{$errorMessage}


		{$csvData}

	</div>
{/template}
